@{
    ViewBag.Title = "Home Page";
}
<style>
    .panel-primary {
        border-color: #2051e3;
    }

        .panel-primary .panel-heading {
            border-color: #2051e3;
            color: #fff;
            background-color: #2051e3;
            border-radius: 5px;
        }

        .panel-primary a {
            color: #2051e3;
        }

            .panel-primary a:hover {
                color: #3d578b;
            }

    .panel-green {
        border-color: #248f36;
    }

        .panel-green .panel-heading {
            border-color: #248f36;
            color: #fff;
            background-color: #248f36;
            border-radius: 5px;
        }

        .panel-green a {
            color: #248f36;
        }

            .panel-green a:hover {
                color: #3d8b3d;
            }

    .panel-red {
        border-color: #d9534f;
    }

        .panel-red .panel-heading {
            border-color: #d9534f;
            color: #fff;
            background-color: #d9534f;
            border-radius: 5px;
        }

        .panel-red a {
            color: #d9534f;
        }

            .panel-red a:hover {
                color: #b52b27;
            }

    .panel-yellow {
        border-color: #f0ad4e;
    }

        .panel-yellow .panel-heading {
            border-color: #f0ad4e;
            color: #fff;
            background-color: #f0ad4e;
            border-radius: 5px;
        }

        .panel-yellow a {
            color: #f0ad4e;
        }

            .panel-yellow a:hover {
                color: #df8a13;
            }

    .quantity {
        font-size:48px;
        text-align:right;
    }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Dashboard</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row" style="padding:7px">
                            <div class="col-4">
                                <i class="fas fa-wallet fa-5x"></i>
                            </div>
                            <div class="col-8 text-right">
                                <div class="quantity">45</div>
                                <div style="text-align:right"><b>Numero de ventas</b></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row" style="padding:7px">
                            <div class="col-3">
                                <i class="fa fa-money-bill fa-5x"></i>
                            </div>
                            <div class="col-9 text-right">
                                <div class="quantity">5068</div>
                                <div style="text-align:right"><b>Total Ventas</b></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row" style="padding:7px">
                            <div class="col-4">
                                <i class="fa fa-star-half-alt fa-5x"></i>
                            </div>
                            <div class="col-8 text-right">
                                <div class="quantity">5</div>
                                <div style="text-align:right"><b>Clientes Nuevos</b></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row" style="padding:7px">
                            <div class="col-4">
                                <i class="fa fa-file-invoice-dollar fa-5x"></i>
                            </div>
                            <div class="col-8 text-right">
                                <div class="quantity">5025</div>
                                <div style="text-align:right"><b>Facturación</b></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

        @*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
