@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EL TUMI</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/logoWeb.png">
    <!--font-ini-->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!--font - fin-->
    <!--styles - ini-->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login/animate-custom.css" rel="stylesheet" />
    <link href="~/Content/login/style.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!--styles - fin-->
    <!--js - ini-->
    <script src="~/Content/js.3.7/jquery-3.7.0.js"></script>
    <!--js - fin-->

    <style>
        .abs-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .form {
            width: 350px;
            height: auto;
        }

        .input-group input::placeholder {
            color: blueviolet;
        }

    </style>
</head>
<body>
    <div class="clearfix"></div>
    <div id="wrapper">
        <div class="container">
            <div class="abs-center">
                <form action="@Url.Content("~/Home/Index")" method="post" autocomplete="on">
                    <div id="login" class="animate form">
                        <p>
                            <div class="border p-3 form ">
                                <div class="form-row">
                                    <div style="text-align: center; width: 100%;">
                                        <img src="~/Images/logoOficial.png" width="200" />
                                    </div>
                                </div>
                                @*<h2 style="font-size:20px!important">EL TUMI</h2>*@
                                <div class="form-group">
                                    <center>
                                        <label for="username" style="font-size:16px"><b>Usuario</b></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-success" style="font-size:25px"><i class="fa fa-user" style="color: midnightblue"></i></span>
                                            </div>
                                            <input id="username" name="Name" required="required" type="text" placeholder="[Ingrese su usuario]" class="form-control form-control" />
                                        </div>
                                    </center>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <label for="password" style="font-size:16px"><b>Contraseña</b></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-success" style="font-size:25px"><i class="fa fa-lock" style="color: midnightblue"></i></span>
                                            </div>
                                            <input type="password" name="password" id="password" required="required" class="form-control form-control" placeholder="[Ingrese su contraseña]">
                                        </div>
                                    </center>
                                </div>
                                <br />
                                <div class="form-group">
                                    <center>
                                        <button type="submit" value="Login" class="btn btn-lg btn-block" style="background-color: #5ea20c; color:aliceblue;width:100%"><b style="font-size: 20px">INGRESAR</b></button>
                                    </center>
                                </div>
                            </div>
                        </p>
                    </div>
                </form>               
            </div>
            @*<p class="agileits">© <span id="spanYear"></span> Copyright Login Form. All Rights Reserved </p>*@
        </div>       
    </div>
    
    <script src="~/Content/js.3.7/bootstrap.bundle.js"></script>
</body>
</html>
