
@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .contenedor {
        width: 100%;
        max-width: 1400px;
        margin: auto;
        padding: 0px;
        background-color: Snow;
        overflow: hidden;
        box-sizing: border-box;
        display:flex;
        flex-wrap:wrap;
    }

    .titulo {
        flex-grow: 1;
        width:100%;
    }

    .cliente {
        background-color: transparent;
        width: 30%;
        padding-right: 5px;
    }

    .producto {
        background-color: transparent;
        width:70%;
    }

    .detalle {
        background-color: transparent;
        width: 70%;
    }

    .venta {
        background-color: transparent;
        justify-content: center;
        width: 30%;
        padding-right: 5px;
    }

    .modal-lg {
        max-width: 45% !important;
    }

    .input-group input::placeholder {
        color: blueviolet;
    }

    @@media screen and (max-width: 1279px) and (min-width:821px) {
        .cliente {
            width: 100% !important;
            margin: 0 15% 0 15%;
            order: 1;
        }

        .producto {
            width: 100% !important;
            order: 2;
        }

        .venta {
            width: 100% !important;
            margin: 0 15% 0 15%;
            order: 4;
        }

        .detalle {
            width: 100% !important;
            order: 3;
        }

        .modal-lg {
            width: 100% !important;
        }
    }

    @@media screen and (max-width: 820px) and (min-width:0px) {

        .cliente {
            width: 100% !important;
            order: 1;
        }

        .producto {
            width: 100% !important;
            order:2;
        }

        .venta {
            width: 100% !important;
            order:4;
        }

        .detalle {
            width: 100% !important;
            order:3;
        }

        .modal-lg {
            width: 100% !important;
        }
    }

</style>

<div class="contenedor">
    <div class="d-sm-flex align-items-center justify-content-between mb-2 titulo">
        <h2><span class="badge badge-titulo text-black"><i class="fas fa-shopping-cart"></i>&nbsp&nbspVentas</span></h2>
    </div>

    <div class="cliente">
        <div class="card border-secondary mb-3">
            <div class="card-header" style="background-color:darkslategrey;color:white"><i class="fas fa-info-circle"></i> Datos del cliente</div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-6">
                        <label for="iptDocumento">Documento / RUC</label>
                        <div class="">
                            <input type="text" class="form-control form-control-sm" id="iptDocumento" placeholder="Ingrese DNI/RUC" autofocus maxlength="11">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <a href="#" class="btn btn-success btn-sm btn-icon-split transact" id="btnBuscar" onclick="javascipt:return false;">
                                <span class="icon text-white">
                                    <i class="fas fa-search fa-sm"></i>
                                </span>
                                <span class="text">Buscar</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm btn-icon-split transact" id="btnAgregar" data-toggle="modal">
                                <span class="icon text-white">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                                <span class="text">Agregar</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="margin-top:-15px">
                    <div class="col-12">
                        <label for="selectCliente">Cliente</label>
                        <div class="">
                            <select id="selectCliente" class="form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="iptPlaca">Placa</label>
                        <div class="form-icon-wrapper">
                            <input type="text" class="form-control form-control-sm" id="iptPlaca" placeholder="Ingrese nro placa" maxlength="7">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="btnLastVentas">Ventas anteriores</label>
                        <div class="form-icon-wrapper">
                            <a href="#" class="btn btn-link btn-sm" id="btnLastVentas" onclick="javascipt:return false;">
                                <span class="icon text-black">
                                    <i class="fas fa-calendar-check fa-2x"></i>
                                </span>
                                <span class="text">Ver Ventas</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="producto">
        <div class="card border-secondary">
            <div class="card-header" style="background-color: darkslategrey; color: white"><i class="fas fa-gifts"></i> Productos</div>
            
            <div class="form-check-inline" style="background-color: DodgerBlue;" width="100%">
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00004" id="chkAceite">Aceite</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00005" id="chkMuelle">Muelles</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00003" id="chkFiltro">Filtros</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00002" id="chkFaja">Fajas</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00006" id="chkAmortiguador">Amortiguadores</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00007" id="chkBateria">Baterias</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00008" id="chkRodaje">Rodajes</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00014" id="chkGeneral">Servicios Generales</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00010" id="chkManguera">Mangueras</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00009" id="chkFoco">Focos</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00011" id="chkPerno">Perno</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00012" id="chkCruceta">Crucetas</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00016" id="chkRefrigerante">Refrigerante</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00017" id="chkLiquidoFreno">Liquido de freno</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00013" id="chkSoporte">Soporte</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00015" id="chkAgua">Agua</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00018" id="chkJebe">Jebes</label>
                <label style="margin-bottom:-5px"><input class="form-check-input" type="checkbox" value="C00001" id="chkOtro">Otros</label>
                <a href="#" class="btn btn-link btn-sm" style="color: sandybrown; margin-bottom: 5px" id="btnProducto" data-toggle="modal">
                    <span class="icon text-warning">
                        <i class="fas fa-shopping-bag"></i>
                    </span>
                    <span class="text" style="color: saddlebrown">Agregar Producto</span>
                </a>
            </div>
            <div class="table-responsive" id="producto">
                <table id='tblProducto' class='table table-cebra table-hover table-bordered' width="100%">
                    <thead style="background-color: #13213d; color: white; font-size: 11px; text-align: center">
                        <tr>
                            <td>°</td>
                            <td hidden>CATEGORIA</td>
                            <td>CODIGO</td>
                            <td>DESCRIPCION</td>
                            <td>MARCA</td>
                            <td>STOCK</td>
                            <td>PRECIO</td>
                            <td>MONEDA</td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 11px; text-align: center">
                    </tbody>
                    <tfoot style="font-size: 7px">
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="venta">
        <div class="card border-secondary mb-3">
            <div class="card-header" style="background-color:darkslategrey;color:white"><i class="fas fa-money-check"></i>  Informacion de la venta</div>
            <div class="card-body justify-content-center align-items-center">
                <div class="form-group row">
                    <div class="col-1">
                    </div>
                    <div class="col-5">
                        <label><input class="form-check-input" type="radio" id="chkContado" checked> CONTADO</label>
                    </div>
                    <div class="col-5">
                        <label><input class="form-check-input" type="radio" id="chkCredito"> CREDITO</label>
                    </div>
                </div>
                <div class="form-group row" id="dCredito" style="background-color:#9370DB; border: 1px solid" hidden>
                    <div class="d-flex justify-content-center">
                        <div class="col-6">
                            <label style="text-align:center; margin:5px auto;">Dias de Credito</label>
                        </div>
                        <div class="col-5">
                            <input class="form-control form-control-sm" type="number" id="dias" placeholder="Ingrese N° dias" style="text-align:right;margin:3px auto;">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-1">
                    </div>
                    <div class="col-5">
                        <label for="iptSubTotal">Sub Total</label>
                    </div>
                    <div class="col-5">
                        <input type="number" class="form-control form-control-sm" id="iptSubTotal" value="0.00" readonly style="text-align:right" />
                    </div>
                </div>
                <div class="form-group row" style="margin-top:-10px">
                    <div class="col-1">
                    </div>
                    <div class="col-5">
                        <label for="iptIGV">IGV</label>
                    </div>
                    <div class="col-5">
                        <input type="number" class="form-control form-control-sm" id="iptIGV" value="0.00" readonly style="text-align:right" />
                    </div>
                </div>
                <div class="form-group row rounded" style="background-color: #9ACD32; margin-top: -5px">
                    <div class="col-1">
                    </div>
                    <div class="col-5">
                        <label style="font-size: 16px;text-align:center" for="iptTotal"><b>Total a Pagar</b></label>
                    </div>
                    <div class="col-5">
                        <input type="number" class="form-control form-control-sm" id="iptTotal" value="0.00" readonly style="text-align: right; background-color: #8FBC8B; font-weight: 800;font-size:18px" />
                    </div>
                </div>
                <br />
                <div class="form-group row" style="margin-top:-15px">
                    <div class="col-6">
                        <a href="#" class="btn btn-danger btn-sm btn-icon-split transact" id="btnCancelar" onclick="javascipt:return false;">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash fa-sm"></i>
                            </span>
                            <span class="text">Cancelar Venta</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-success btn-sm btn-icon-split transact" id="btnGenerar" onclick="javascipt:return false;">
                            <span class="icon text-white-50">
                                <i class="fas fa-save fa-sm"></i>
                            </span>
                            <span class="text">Generar Venta</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detalle">
        <div class="card border-secondary">
            <div class="card-header" style="background-color: darkslategrey; color: white "><i class="fas fa-object-group"></i> Detalle de la venta</div>
            <div class="table-responsive" id="detalle">
                <table id='tblDetalle' class='table table-cebra table-hover table-bordered' width="100%">
                    <thead style="background-color: #13213d !important; color: white; font-size: 10px;">
                        <tr style="font-size: 11px;">
                            <td style='max-width:35px; min-width:35px;text-align:center'>ITEM</td>
                            <td style='max-width:50px; min-width:50px;text-align:center'>CODIGO</td>
                            <td style='max-width: 250px; min-width: 250px; text-align: center'>PRODUCTO</td>
                            <td style='max-width: 50px; min-width: 50px; text-align: center' hidden>STOCK</td>
                            <td style='max-width: 60px; min-width: 60px; text-align: center'>CANTIDAD</td>
                            <td style='max-width: 50px; min-width: 50px; text-align: center' hidden>MONTO</td>
                            <td style='max-width: 60px; min-width: 60px; text-align: center'>PRECIO</td>
                            <td style='max-width: 50px; min-width: 50px; text-align: center'>TOTAL</td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 10px">
                    </tbody>
                    <tfoot style="font-size: 8px">
                        <tr>
                            <td colspan="5">
                                <a href="#" class="btn btn-warning btn-sm btn-icon-split transact" id="btnManual" onclick="javascipt:return false;">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-hand-spock fa-sm"></i>
                                    </span>
                                    <span class="text">Manual</span>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey; color: white">
                <h5 class="modal-title"><i class="fas fa-user-check"></i> Registrar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2 mdCliente" style="background-color: #CDDCCC; border: 3px solid #eee;border-radius:5px">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="txtnombres" class="form-label">Nombres ó Razon Social</label>
                            <div class="input-group">
                                <div class="">
                                    <span class="input-group-text bg-white"><i class="fa fa-lock" style="color: red"></i></span>
                                </div>
                                <input type="text" id="txtnombres" class="form-control form-control-sm" placeholder="Ingrese el nombre o razon social">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -7px">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="txtapellidos" class="form-control form-control-sm" placeholder="Ingrese los apellidos">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -7px">
                        <label for="txtcelular" class="form-label">Celular</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="txtcelular" class="form-control form-control-sm" placeholder="Ingrese el numero">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -7px">
                        <div class="form-group">
                            <label for="txtdistrito" class="form-label">Distrito</label>
                            <div class="input-group">
                                <div class="">
                                    <span class="input-group-text bg-white"><i class="fa fa-lock" style="color: red"></i></span>
                                </div>
                                <input type="text" id="txtdistrito" class="form-control form-control-sm" placeholder="Ingrese el distrito">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -7px">
                        <label for="txttelefono" class="form-label">Telefono</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="txttelefono" class="form-control form-control-sm" placeholder="Ingrese el telefono">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: -7px">
                        <div class="form-group">
                            <label for="txtdireccion" class="form-label">Direccion</label>
                            <div class="input-group">
                                <div class="">
                                    <span class="input-group-text bg-white"><i class="fa fa-lock" style="color: red"></i></span>
                                </div>
                                <input type="text" id="txtdireccion" class="form-control form-control-sm" placeholder="Ingrese la direccion">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: -7px" id="sinCorreo">
                        <label for="txtcorreo" class="form-label">Correo electronico</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="txtcorreo" class="form-control form-control-sm" placeholder="Ingrese el correo electronico">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: -7px" id="conCorreo">
                        <div class="form-group">
                            <label for="_txtcorreo" class="form-label">Correo electronico</label>
                            <div class="input-group">
                                <div class="">
                                    <span class="input-group-text bg-white"><i class="fa fa-lock" style="color: red"></i></span>
                                </div>
                                <input type="text" id="_txtcorreo" class="form-control form-control-sm" placeholder="Ingrese el correo electronico">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -7px; text-align:center">
                        <div class="form-group">
                            <input class="form-check-input" type="radio" value="" id="chkNatural">
                            <label class="form-check-label" for="chkNatural"> Persona Natural</label>
                        </div>
                        <div class="form-group">
                            <input class="form-check-input" type="radio" value="" id="chkJuridica">
                            <label class="form-check-label" for="chkJuridica"> Persona Juridica</label>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -7px">
                        <label for="txtNroDocumento" class="form-label">DNI ó RUC</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="txtNroDocumento" class="form-control form-control-sm" maxlength="11" minlength="8" placeholder="Ingrese el DNI/RUC">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="form-group row">
                    <div class="col-7">
                        <span style="color:red;float:left;font-size:12px">Campos obligatorios</span>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary" id="btnGuardarCliente">Registrar</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVentasAnteriores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey; color: white">
                <h5 class="modal-title"><i class="fas fa-list-alt"></i> Detalle de ventas anteriores</h5>
                <button type="button" class="btn-close text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="detalleLastVenta">
                    <table id="tblLastVenta" class='table table-cebra table-hover table-bordered' width="100%">
                        <thead style="background-color: #13213d !important;color: white;font-size: 12px;text-align: center;">
                            <tr style="font-size: 12px;">
                                <td style="min-width: 5px">[]</td>
                                <td hidden>Codigo Venta</td>
                                <td style="min-width: 70px;">N° Venta</td>
                                <td style="min-width: 50px;">Fecha</td>
                                <td style="min-width: 30px">Total</td>
                                <td style="min-width: 50px">Estado</td>
                                <td style="min-width: 50px">Placa</td>
                                <td style="min-width: 20px">T.C.</td>
                            </tr>
                        </thead>
                        <tbody style="font-size: 11px; text-align: center;">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey; color: white">
                <h5 class="modal-title"><i class="fas fa-shopping-cart"></i> Registrar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px;background-color: #CDDCCC; border: 3px solid #eee;border-radius:5px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row" style="justify-content: center;" >
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="txtCodigoProducto" class="form-label">Codigo:</label>                                        
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-top:-15px">
                                    <div class="col-md-12">
                                        <input id="txtCodigoProducto" class="form-control form-control-sm" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <a href="#" class="btn btn-info btn-lg btn-icon-split" style="font-size:15px" id="btnAgregarMarca" data-toggle="modal">
                                    <span class="icon text-black">
                                        <i class="fas fa-plus-circle fa-lg"></i>
                                    </span>
                                    <span class="text">Agregar<br>Marca</span>
                                </a>
                            </div>
                            <div class="col-md-3" >
                                <a href="#" class="btn btn-info btn-lg btn-icon-split" style="font-size:15px" id="btnAgregarTipo" data-toggle="modal">
                                    <span class="icon text-black">
                                        <i class="fas fa-plus-square fa-lg"></i>
                                    </span>
                                    <span class="text">Agregar<br>Tipo</span>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="selectMoneda" class="form-label">Moneda:</label>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-top:-15px">
                                    <div class="col-md-12">
                                        <select id="selectMoneda" class="form-control form-control-sm" data-live-search="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <div style="margin: -20px -15px 0 -15px; padding: 0 5px 5px 5px; background-color: #f6f9fe; border-radius: 5px">
                            <p style="background-color: lightseagreen; border-radius: 5px; padding-left: 1em"><input class="form-check-input" type="checkbox" value="FN" id="chkFormarNombre"> Formar Nombre</p>
                            <div class="form-group row">
                                <div class="col-md-4" style="margin-top: -10px;">
                                    <label for="selectCategoria" class="form-label">Categoria:</label>
                                </div>
                                <div class="col-md-4" style="margin-top: -10px;">
                                    <label for="selectTipo" class="form-label">Tipo:</label>
                                </div>
                                <div class="col-md-4" style="margin-top: -10px;">
                                    <label for="iptModelo" class="form-label">Modelo:</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" style="margin-top:-15px">
                                    <select id="selectCategoria" class="form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                                <div class="col-md-4" style="margin-top:-15px">
                                    <select id="selectTipo" class="form-control form-control-sm" data-live-search="true">
                                    </select>
                                </div>
                                <div class="col-md-4" style="margin-top:-15px">
                                    <input type="text" class="form-control form-control-sm" id="iptModelo" placeholder="Ingrese el modelo">
                                </div>
                            </div>
                        </div>                        
                        <div style="margin: -12px -15px 0 -15px; padding: 0 5px 3px 5px; background-color: #f6f9fe; border-radius: 5px">
                            <p style="background-color: lightseagreen; border-radius: 5px; padding-left: 1em"><input class="form-check-input" type="checkbox" value="IN" id="chkIngresarNombre"> Ingresar Nombre</p>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label for="iptNombreProducto" class="form-label">Nombre Producto:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="iptNombreProducto" placeholder="Ingrese el nombre del producto">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="padding-bottom:10px">
                            <div class="col-md-3">
                                <label class="form-label" for="selectMarca">Marca: </label>
                                <select id="selectMarca" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="iptStock">Stock</label>
                                <input type="number" class="form-control form-control-sm" id="iptStock" value="0">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="iptPrecioCompra">Prec. Compra</label>
                                <input type="number" class="form-control form-control-sm" id="iptPrecioCompra" value="0">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="iptPrecioVenta">Precio Venta</label>
                                <input type="number" class="form-control form-control-sm" id="iptPrecioVenta" value="0">
                            </div>
                        </div>
                        <p class="form-label" style="background-color: mediumseagreen;margin: -15px -15px 0 -15px">  Unidad de Medida de Venta</p>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkBalde"> Balde</label>
                                <select id="selectBalde" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkEnvase"> Envase</label>
                                <select id="selectEnvase" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkPaquete"> Paquete</label>
                                <select id="selectPaquete" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkCilindro"> Cilindro</label>
                                <select id="selectCilindro" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                        </div>
                        <p class="form-label" style="background-color: mediumseagreen; margin: -10px -15px 0 -15px">  Unidad de Medida de Compra</p>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkBaldeC"> Balde</label>
                                <select id="selectBaldeC" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkEnvaseC"> Envase</label>
                                <select id="selectEnvaseC" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkPaqueteC"> Paquete</label>
                                <select id="selectPaqueteC" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label><input class="form-check-input" type="checkbox" id="chkCilindroC"> Cilindro</label>
                                <select id="selectCilindroC" class="form-control form-control-sm" data-live-search="true">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardarProducto">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMarca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey; color: white">
                <h5 class="modal-title"><i class="fas fa-stroopwafel"></i> Agregar Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 5px 0 5px; background-color: #CDDCCC; border: 3px solid #eee ">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="selectCategoriaM" class="form-label">Categoria:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="selectCategoriaM" class="form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="txtNombreMarca" class="form-label">Nombre:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" id="txtNombreMarca">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardarMarca">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTipo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey; color: white">
                <h5 class="modal-title"><i class="fas fa-record-vinyl"></i> Agregar Tipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 5px 0 5px; background-color: #CDDCCC; border: 3px solid #eee ">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="selectCategoriaT" class="form-label">Categoria:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="selectCategoriaT" class="form-control form-control-sm" data-live-search="true">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="txtNombreTipo" class="form-label">Descripcion:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" id="txtNombreTipo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardarTipo">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/View/Venta/Venta.js"></script>

